.filebox label {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background: #434953;
  color:#cbcbca;
  background: -moz-linear-gradient(top, #434953 0%, #3A3F47 52%, #33383E 100%);
  background: -webkit-linear-gradient(top, #434953 0%, #3A3F47 52%, #33383E 100%);
  background: linear-gradient(to bottom, #434953 0%, #3A3F47 52%, #33383E 100%);
    cursor: pointer;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    
  }
  
  .filebox input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }
